@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@font-face {
	font-family: ArticulatCF;
	src: url(../fonts/ArticulatCF-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: ArticulatCF;
	src: url(../fonts/ArticulatCF-ExtraLight.ttf);
	font-weight: 200;
}
@font-face {
	font-family: ArticulatCF;
	src: url(../fonts/ArticulatCF-Heavy.ttf);
	font-weight: 900;
}

@font-face {
	font-family: KyivType;
	src: url(../fonts/KyivType.otf);
}

@font-face {
	font-family: NeueMachina;
	src: url(../fonts/NeueMachina.otf);
}
