@import "_zeroStyles";
@import "_fonts";
@import "_colors";
@import "_typography";
@import "_button";
@import "_grid";
@import "_home";
@import "_variables.scss";
@import "_paginate.scss";
@import "_burger.scss";

html {
  height: 100%;
  body {
    background-color: #f7f8f8;
    @media screen and (max-width: $small) {
      background-color: var(--white);
      &.bm-overlay {
        background-color: var(--white);
      }
    }
  }
  #app {
    position: relative;
    min-height: 100%;
    overflow: hidden;
  }
  .card {
    border-radius: 8px;
    @media screen and (max-width: $small) {
      border-radius: 0;
    }
    &__wave:after {
      background-image: url("@/assets/images/wave.png");
      background-size: 100%;
      display: inline-block;
      width: 267px;
      height: 267px;
      position: absolute;
      top: -25px;
      right: -185px;
      z-index: -1;
      content: "";
      @media screen and (max-width: $small) {
        width: 144px;
        height: 144px;
        z-index: 1;
        top: -103px;
        right: 20px;
      }
    }
    .card-body {
      padding: 75px 100px;
      @media screen and (max-width: $small) {
        padding: 29px 20px;
      }
    }
    h3 {
      text-transform: uppercase;
      font-family: ArticulatCF, sans-serif;
      font-weight: 900;
      color: var(--black);
      font-size: 33px;
      @media screen and (max-width: $small) {
        font-size: 24px;
      }
    }
    label.form-label {
      color: var(--text);
      font-family: KyivType, sans-serif;
      font-style: normal;
      font-size: 12px;
      margin-bottom: -3px;
      display: block;
    }
    .btn {
      width: 194px;
      padding: 11px 0;
      color: var(--white);
      &:hover {
        color: var(--black);
      }
      @media screen and (max-width: $small) {
        width: 100%;
      }
    }
    .icon-back {
      vertical-align: super;
      @media screen and (max-width: $small) {
        vertical-align: text-bottom;
      }
    }
  }
  .form-check {
    input[type=checkbox] {
      width: 18px;
      height: 18px;
    }
    input[type='checkbox']:checked {
      background-color: var(--main);
      border-color: var(--main);
    }
  }
}